{% extends 'shopping1/base_foot.html'%}
{% load staticfiles%}
	{%block head%}
	<script type="text/javascript" src="/static/shopping1/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/shopping1/js/slide.js"></script>
	{%endblock head%}
{%block body%}
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl" style="{{style2}}">

					欢迎您：<em>{{name}}</em>
					<span>|</span>
					<em><a href="/login_out/" style="color: red">注销</a><em>
				</div>
				<div class="login_btn fl" style="{{style1}}">
					<a href="/login">登录</a>
					<span>|</span>
					<a href="/register">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/user_center">用户中心</a>
					<span>|</span>
					<a href="/cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>
	</div>
	{%block index-body%}
	<div class="search_bar clearfix">
		<a href="#" class="logo fl"><img src="{% static 'shopping1/images/logo.png' %}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/index">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			{%for i in type%}
			<li><a href="#model0{{i.typenumber}}" class="fruit">{{i.name}}</a></li>
			{%endfor%}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="{% static 'shopping1/images/slide.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'shopping1/images/slide02.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'shopping1/images/slide03.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'shopping1/images/slide04.jpg' %}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="{% static 'shopping1/images/adv01.jpg' %}"></a>
			<a href="#"><img src="{% static 'shopping1/images/adv02.jpg' %}"></a>
		</div>
	</div>
{%for i in type%}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{i.typenumber}}">{{i.name}}</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for j in i.goodstype_set.all|slice:":3" %}
				<a href="#">{{j.name}}</a>
				{%endfor%}
			</div>
			<a href="/goods/list/{{i.typenumber}}/1_1/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/shopping1/images/banner/{{i.typenumber}}.jpg"></div>
			<ul class="goods_list fl">
				{%for j in i.goodstype_set.all|slice:":4" %}
					<li>
						<h4><a href="#">{{j.goodsinfo_set.all.0.name}}</a></h4>
						<a href="/goods/detail/{{j.goodsinfo_set.all.0.productnumber}}"><img src="/static/shopping1/images/goods/{{j.goodsinfo_set.all.0.productnumber}}.jpg"></a>
						<div class="prize">¥ {{j.goodsinfo_set.all.0.prices}}</div>
					</li>
				{%endfor%}
			</ul>
		</div>

	</div>

{%endfor%}
	{%endblock index-body%}
{%endblock body%}
