{% extends 'shopping1/index.html'%}
{% load staticfiles%}
{%block index-body%}
    <div class="search_bar clearfix">
		<a href="/index/" class="logo fl"><img src="{%static 'shopping1/images/logo.png'%}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					{%for i in types%}
					<li><a href="/goods/list/{{i.typenumber}}/1/" class="type{{i.typenumber}}">{{i.name}}</a></li>
					{%endfor%}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/index/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/index">全部分类</a>
		{% block list-bread %}
		{% endblock list-bread %}
	</div>
	{% block list-body1%}
    {% endblock list-body1%}
	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="/goods/detail/{{recommend1.productnumber}}"><img src="/static/shopping1/images/goods/{{recommend1.productnumber}}.jpg"></a>
						<h4><a href="#">{{recommend1.name}}</a></h4>
						<div class="prize">￥{{recommend1.prices}}</div>
					</li>
					<li>
						<a href="/goods/detail/{{recommend2.productnumber}}"><img src="/static/shopping1/images/goods/{{recommend2.productnumber}}.jpg"></a>
						<h4><a href="#">{{recommend2.name}}</a></h4>
						<div class="prize">￥{{recommend2.prices}}</div>
					</li>
				</ul>
			</div>
		</div>
		{% block list-body2 %}
		{% endblock list-body2 %}
	</div>
{%endblock index-body%}