{% extends 'shopping1/goods/base_list.html'%}
{% load staticfiles%}
{% block head%}
<script type="text/javascript" src="/static/shopping1/js/list.js"></script>
{% endblock head%}
{% block list-bread %}
		<span>></span>
		<span style="color: darkorange">{{list.name}}</span>
{% endblock list-bread %}
{% block list-body2 %}
		<div class="r_wrap fr clearfix">

			<div class="sort_bar" id="sort_bar">
				{% if sort == '1' %}
				<a href="/goods/list/{{list.typenumber}}/1_1" class="{{active}}">默认</a>
				<a href="/goods/list/{{list.typenumber}}/2_1" class="">价格</a>
				<a href="/goods/list/{{list.typenumber}}/3_1" class="">人气</a>
				{% elif sort == '2' %}
				<a href="/goods/list/{{list.typenumber}}/1_1" class="">默认</a>
				<a href="/goods/list/{{list.typenumber}}/2_1" class="{{active}}">价格</a>
				<a href="/goods/list/{{list.typenumber}}/3_1" class="">人气</a>
				{% else %}
				<a href="/goods/list/{{list.typenumber}}/1_1" class="">默认</a>
				<a href="/goods/list/{{list.typenumber}}/2_1" class="">价格</a>
				<a href="/goods/list/{{list.typenumber}}/3_1" class="{{active}}">人气</a>
				{% endif %}
			</div>
			<div class="btn11">
				<div>
					<ul class="goods_type_list clearfix">
					{% for i in page %}
						<li>
							<a href="/goods/detail/{{i.productnumber}}"><img src="/static/shopping1/images/goods/{{i.productnumber}}.jpg"></a>
							<h4><a href="detail.html">{{i.name}}</a></h4>
							<div class="operate">
								<span class="prize">￥{{i.prices}}</span>
								<span class="unit">{{i.prices}}/{{i.unit}}</span>
								<a href="#" class="add_goods" title="加入购物车"></a>
							</div>
						</li>

					{%endfor%}
					</ul>
				</div>
			</div>
			<div>
				<div class="pagenation">
					{% if page.has_previous %}
					<a href="/goods/list/{{id}}/{{sort}}_{{page.number|add:'-1'}}/">&lt;上一页</a>
					{% else %}
					<p>&lt;上一页</p>
					{% endif %}
				{%for i in page.paginator.page_range%}
					{% if i == page.number %}
					<p>{{i}}</p>
					{% else %}
					<a href="/goods/list/{{id}}/{{sort}}_{{i}}/" class="active">{{i}}</a>
					{% endif %}
				{% endfor %}
					{% if page.has_next %}
					<a href="/goods/list/{{id}}/{{sort}}_{{page.number|add:'1'}}">下一页&gt;</a>
					{% else %}
					<p>下一页&gt;</p>
					{% endif %}
				</div>
			</div>
		</div>
{% endblock list-body2 %}